In [9]:
import pandas as pd
import numpy as np
import sklearn

ModuleNotFoundError: No module named 'sklearn'

In [3]:
data = pd.read_csv("/Users/syedaskari/MSDC!/Machine Learing/MachineLearning/Datasets/advertising.csv")

In [4]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [7]:
X = data.iloc[:, :-1]
y = data.iloc[:,-1:]
y

     Sales
0     22.1
1     10.4
2     12.0
3     16.5
4     17.9
..     ...
195    7.6
196   14.0
197   14.8
198   25.5
199   18.4

[200 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'