In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option("display.max_rows", None)

In [4]:
#reading the dataset using the pandas read_csv() mehid
data = pd.read_csv("/Users/syedaskari/MSDC!/Machine Learing/MachineLearning/Datasets/hearing_test.csv")
#display the top 5 rows of the dataset
data.head()

    age  physical_score  test_result
0  33.0            40.7            1
1  50.0            37.2            1
2  52.0            24.7            0
3  56.0            31.0            0
4  35.0            42.9            1

In [5]:
#display the dhape of the data
data.shape

(5000, 3)

In [6]:
#Describe the statical inference of the data
data.describe()

               age  physical_score  test_result
count  5000.000000     5000.000000  5000.000000
mean     51.609000       32.760260     0.600000
std      11.287001        8.169802     0.489947
min      18.000000       -0.000000     0.000000
25%      43.000000       26.700000     0.000000
50%      51.000000       35.300000     1.000000
75%      60.000000       38.900000     1.000000
max      90.000000       50.000000     1.000000